In [19]:
import pandas as pd

from pyECLAT import ECLAT

In [20]:
base = pd.read_csv('../data/mercado.csv', header=None)
base

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [21]:
eclat = ECLAT(data=base)

In [22]:
eclat.df_bin

   manteiga  cerveja  pao  leite  arroz  cafe  feijao
0         1        1    1      1      0     0       0
1         1        0    1      0      0     1       0
2         1        0    1      0      0     1       0
3         1        0    1      1      0     1       0
4         0        1    0      0      0     0       0
5         1        0    0      0      0     0       0
6         0        0    1      0      0     0       0
7         0        0    0      0      0     0       1
8         0        0    0      0      1     0       1
9         0        0    0      0      1     0       0

In [23]:
eclat.uniq_

['manteiga', 'cerveja', 'pao', 'leite', 'arroz', 'cafe', nan, 'feijao']

In [24]:
index, supports = eclat.fit(min_support=0.3, min_combination=1, max_combination=3)

Combination 1 by 1

3it [00:00, 55.68it/s]

Combination 2 by 2

3it [00:00, 23.99it/s]

Combination 3 by 3

1it [00:00, 66.67it/s]

In [25]:
index

{'manteiga': [0, 1, 2, 3, 5],
 'pao': [0, 1, 2, 3, 6],
 'cafe': [1, 2, 3],
 'manteiga & pao': [0, 1, 2, 3],
 'manteiga & cafe': [1, 2, 3],
 'pao & cafe': [1, 2, 3],
 'manteiga & pao & cafe': [1, 2, 3]}

In [26]:
supports

{'manteiga': 0.5,
 'pao': 0.5,
 'cafe': 0.3,
 'manteiga & pao': 0.4,
 'manteiga & cafe': 0.3,
 'pao & cafe': 0.3,
 'manteiga & pao & cafe': 0.3}