In [16]:
import pandas as pd

from apyori import apriori

In [17]:
base = pd.read_csv('../data/mercado.csv', header=None)
base

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [18]:
transactions = []
for i in range(len(base)):
    transactions.append([str(base.values[i, j]) for j in range(base.shape[1])])

In [19]:
transactions

[['leite', 'cerveja', 'pao', 'manteiga'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['leite', 'cafe', 'pao', 'manteiga'],
 ['cerveja', 'nan', 'nan', 'nan'],
 ['manteiga', 'nan', 'nan', 'nan'],
 ['pao', 'nan', 'nan', 'nan'],
 ['feijao', 'nan', 'nan', 'nan'],
 ['arroz', 'feijao', 'nan', 'nan'],
 ['arroz', 'nan', 'nan', 'nan']]

In [22]:
rules = apriori(transactions, min_support=0.3, min_confidence=0.8, min_lift=2, min_length=2)
results = list(rules)

In [23]:
results

[RelationRecord(items=frozenset({'manteiga', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'pao', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'pao', 'manteiga', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao', 'manteiga'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'manteiga', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'pao', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])]

In [24]:
r = results[2][2]
r

[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao', 'manteiga'}), confidence=1.0, lift=2.5),
 OrderedStatistic(items_base=frozenset({'manteiga', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0),
 OrderedStatistic(items_base=frozenset({'pao', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]

In [25]:
A = []
B = []

support = []
confidence = []
lift = []

for result in results:
    s = result[1]
    for row in result[2]:
        A.append(list(row[0]))
        B.append(list(row[1]))
        support.append(s)
        confidence.append(row[2])
        lift.append(row[3])

In [26]:
A

[['cafe'], ['cafe'], ['cafe'], ['manteiga', 'cafe'], ['pao', 'cafe']]

In [27]:
B

[['manteiga'], ['pao'], ['pao', 'manteiga'], ['pao'], ['manteiga']]

In [28]:
s

0.3

In [29]:
confidence

[1.0, 1.0, 1.0, 1.0, 1.0]

In [30]:
lift

[2.0, 2.0, 2.5, 2.0, 2.0]

In [31]:
rules_df = pd.DataFrame({'A': A, 'B': B, 'Support': support, 'Confidence': confidence, 'Lift': lift})

In [33]:
rules_df.sort_values(by='Lift', ascending=False)

                  A                B  Support  Confidence  Lift
2            [cafe]  [pao, manteiga]      0.3         1.0   2.5
0            [cafe]       [manteiga]      0.3         1.0   2.0
1            [cafe]            [pao]      0.3         1.0   2.0
3  [manteiga, cafe]            [pao]      0.3         1.0   2.0
4       [pao, cafe]       [manteiga]      0.3         1.0   2.0